@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

body {
    width: 100%;
    height: 100%;
    background: #16345a;
    padding: 0;
    margin-left: 50%;
}

svg text {
    font-family: "Staatliches", cursive;
    font-size: 6em;
    stroke: #f1c164;
    stroke-width: 3px;
    stroke-dasharray: 345px;
    animation: stroke 3s linear;
}

@keyframes stroke {
    0% {
        stroke-dashoffset: 326px;
    }
    100% {
        stroke-dashoffset: 0px;
    }
}
